<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBDcl6WiBgzMsMY8OD2Ani19CID9h5FHpc</string>
	<key>GCM_SENDER_ID</key>
	<string>434070974451</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>fliki</string>
	<key>PROJECT_ID</key>
	<string>fliki-dacd2</string>
	<key>STORAGE_BUCKET</key>
	<string>fliki-dacd2.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:434070974451:ios:1f275fe5b2e13fb4f1ac86</string>
</dict>
</plist>